In [1]:
import chardet
import pandas as pd
filename = "지역가전.csv"
with open(filename, 'rb') as f:
    result = chardet.detect(f.readline())  # or read() if the file is small.
    print(result['encoding'])

UTF-8-SIG

In [2]:
data = pd.read_csv('지역가전.csv',encoding='UTF-8-SIG', header=1, skipfooter=2)
data

C:\Users\LG\AppData\Local\Temp\ipykernel_15196\2600082687.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  data = pd.read_csv('지역가전.csv',encoding='UTF-8-SIG', header=1, skipfooter=2)

    지역  지역.1    서울  서울.1  서울.2    경기  경기.1  경기.2    강원  강원.1  강원.2
0   지점    지점     A     B     C     A     B     C     A     B     C
1  컴퓨터   노트북  1000  1109  1290  1284  1938   948   892   948   876
2  컴퓨터  데스크탑  1500  1390  1840  1010  1290  1028   839   893   819
3   가전    TV  2001  2019  1839  1028  1039  1948   980   899   897
4   가전   냉장고  1111  1938  1993  1932  1827  1173  1827  1172  1100
5  모바일   핸드폰  5000  5827  9481  8493  8732  8193  7371  7491  8749
6  모바일   태블릿  2019  1290  1928  2928  1928  1928  1918   900   899

### 1. 색인을 변경하여 아래의 DataFrame 출력을 얻으시오.
<img src="지역가전_색인수정.jpg" alt="지역가전" width="600"/>

In [3]:
data

    지역  지역.1    서울  서울.1  서울.2    경기  경기.1  경기.2    강원  강원.1  강원.2
0   지점    지점     A     B     C     A     B     C     A     B     C
1  컴퓨터   노트북  1000  1109  1290  1284  1938   948   892   948   876
2  컴퓨터  데스크탑  1500  1390  1840  1010  1290  1028   839   893   819
3   가전    TV  2001  2019  1839  1028  1039  1948   980   899   897
4   가전   냉장고  1111  1938  1993  1932  1827  1173  1827  1172  1100
5  모바일   핸드폰  5000  5827  9481  8493  8732  8193  7371  7491  8749
6  모바일   태블릿  2019  1290  1928  2928  1928  1928  1918   900   899

### 2. 서울지역 지점 A, B, C의 컴퓨터 수량(노트북과 테스크탑)을 출력하시오.

### 3. 서울지역 지점 A, B, C 전체 컴퓨터 상세품목의 합을 구하시오.

### 4. 서울지역 지점 A, B, C 전체 노트북의 합을 구하시오.